# .env.example

SERVER_PORT=8080

DB_URL=jdbc:mysql://url-to-qr-db:3306/url2qr
DB_USERNAME=
DB_PASSWORD=

MYSQL_DATABASE=url2qr
MYSQL_ROOT_PASSWORD=

# QR 이미지가 호스트에 저장될 경로 (compose.yaml 기준 상대 경로)
QR_OUTPUT_HOST_PATH=./output

VITE_QR_API_BASE_URL=/api