# .env.example

SERVER_PORT=8080

DB_URL=jdbc:mysql://url-to-qr-db:3306/url2qr
DB_USERNAME=
DB_PASSWORD=

MYSQL_DATABASE=url2qr
MYSQL_ROOT_PASSWORD=

QR_UPLOAD_PATH=/app/output

VITE_QR_API_BASE_URL=/api